*{
    font-family: calibri;
}
h1{
    color: #38BDF8;
}
h2{
    color: #38BDF8;
    font-weight: bold;
}
h3{
    color: #38BDF8;
}
h4{
    color: #38BDF8;
}
p{
    color: #E2E8F0;
}
body{
        background-color: #0F172A;
}

#mainheader img{
    width: 100%;
    height: 91.7%;
}
.card{
    border-radius: 40px;
}
